# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=preview_campaign
DB_USER=postgres
DB_PASSWORD=Admin@123

# Server
PORT=3001
NODE_ENV=development

# Auth
JWT_SECRET=45a89b3f8e736bb2b98424c1ab5bcc01d14fb9c51c71d857d6c36dbe3cd6dd9e
JWT_EXPIRES_IN=8h

# Heartbeat
HEARTBEAT_STALE_SECONDS=60
HEARTBEAT_CHECK_INTERVAL_SECONDS=30
